name: "CI"

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ github.sha }}
  VULNERABILITY_POLICY: "Michael-Richardson-SE-Vulnerabilities"
  SECRETS_POLICY: "Michael-Richardson-SE-Secrets"

jobs:
  test:
    name: Run Python tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y

      - name: Install project
        run: uv sync --locked --all-extras --dev

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

      - name: Run pytest
        env:
          FLASK_APP: flaskr
        run: |
          mkdir instance
          uv run flask init-db
          uv run pytest

  security-scan:
    name: Run wizcli security scan
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download wizcli
        run: |
          curl -o wizcli https://wizcli.app.wiz.io/latest/wizcli
          chmod +x wizcli && sudo mv wizcli /usr/bin/
          wizcli version

      - name: Authenticate to Wiz
        run: wizcli auth --id "$WIZ_CLIENT_ID" --secret "$WIZ_CLIENT_SECRET"
        env:
          WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
          WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

      - name: Scan code with wizcli
        run: wizcli dir scan --path . --policy "$VULNERABILITY_POLICY"

  docker:
    name: Docker Build/Scan/Push
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download wizcli
        run: |
          curl -o wizcli https://wizcli.app.wiz.io/latest/wizcli
          chmod +x wizcli && sudo mv wizcli /usr/bin/
          wizcli version

      - name: Authenticate to Wiz
        run: wizcli auth --id "$WIZ_CLIENT_ID" --secret "$WIZ_CLIENT_SECRET"
        env:
          WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
          WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5.7.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v6.16.0
        with:
          context: .
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Scan built Docker images with wizcli
        id: scan
        run: |
          for tag in ${DOCKER_METADATA_OUTPUT_TAGS};
          do
            wizcli docker scan --image $tag
          done

      - name: Push built Docker images
        if: ${{ github.event_name != 'pull_request' }}
        id: push
        run: |
          for tag in ${DOCKER_METADATA_OUTPUT_TAGS};
          do
            docker push $tag
          done

      - name: Tag built Docker images with wizcli
        if: ${{ github.event_name != 'pull_request' }}
        id: tag
        run: |
          for tag in ${DOCKER_METADATA_OUTPUT_TAGS};
          do
            wizcli docker tag --image $tag
          done
