name: "Test"
on:
  push:
    branches:
      - main
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ github.sha }}
  VULNERABILITY_POLICY: "Michael-Richardson-Vulnerabilities"
  SECRETS_POLICY: "Michael-Richardson-Secrets"

jobs:
  test:
    name: Run Python tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y

      - name: Install project
        run: poetry install

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

      - name: Run pytest
        env:
          FLASK_APP: flaskr
        run: |
          mkdir instance
          poetry run flask init-db
          poetry run pytest

  wizcli:
    name: Scan container with wizcli
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3.2.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download wizcli
        run: |
          curl -o wizcli https://wizcli.app.wiz.io/latest/wizcli
          chmod +x wizcli
          ./wizcli version

      - name: Authenticate to Wiz
        run: ./wizcli auth --id "$WIZ_CLIENT_ID" --secret "$WIZ_CLIENT_SECRET"
        env:
          WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
          WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v5.3.0
        with:
          context: .
          load: true
          tags: ${{ github.sha }}

      - name: Scan Docker image with wizcli
        run: ./wizcli docker scan --image "$IMAGE_NAME:$IMAGE_TAG" --policy "$VULNERABILITY_POLICY" --policy "$SECRETS_POLICY"
